.page {
  background-color: #202020;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
}